input[type=text]{
    padding: .4em;
}

label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

input[type=button]{
    margin-left: 50%;
}

input[type=checkbox] {
    margin-left: 50%;
}

#validation-summary{
    color: red;
    list-style-type: square;

}

.rating-error{
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
    width: 25%;
}